# R
.RData
.Rhistory
.Rproj.user/
.Ruserdata

# Python
*.pyc
__pycache__/

# Positron / VS Code
.vscode/

# Quarto
**/*.quarto_ipynb
*_cache/
.quarto/
*.log
README.html

# macOS
.DS_Store

# Pastas
07 - Análise de temperatura e mortalidade_files/
dados/
figuras/
README_files/
/.quarto/
