# R
.Rhistory
.RData
.Ruserdata

# Positron / VS Code
.vscode/

# macOS
.DS_Store

# Quarto cache
.quarto/
*_cache/

# R cache
.Rproj.user/

# Python
__pycache__/
*.pyc

# Logs
*.log
/.quarto/
**/*.quarto_ipynb